<h1>Activation Instructions</h1>

<p>Thank you for signing up.  Please look for an activation email in your inbox.  Click on the email in your inbox to activate your account.</p>

<p>Email should arrive quickly, so if you don't receive something soon-ish, please make sure the email is not in your spam box.</p>
