<h1>Welcome</h1>

<p>This site is currently under alpha.  You need an invitation to signup. Signup below to receive an invitation when we send them out.</p>

<% form_for :invite, Invite.new, :url => invites_path do |f| -%>
  <%= f.error_messages %>
  
  <p><%= f.text_field :recipient_email %> <%= submit_tag "Invite" %></p>
  
<% end -%>


