<h1>Buckets</h1>

<%= link_to "New Bucket", new_bucket_path %>

<table cellspacing="0">
  <% @buckets.each do |bucket| -%>
    <tr>
      <td><%= h bucket.title %></td>
      <td><%= pluralize bucket.photos.count, "photo" %></td>
      <td><%= link_to "Edit", edit_bucket_path(bucket) %></td>
    </tr>
  <% end -%>
</table>

